.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: open .5s ease-in-out forwards;
    /* transition: all ease-in-out 1s; */
}

.none {
    display: none;
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(10px);
    }
}